{% extends 'base.html' %}
{% block title %} Let's Quiz | Home {% endblock title %}
{% block content %}

    <section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
      <div class="container text-center">
        <h1 class="display-1 text-info">Examination</h1>
        <p class="display-4 d-none d-sm-block">Kindly read the rules before logging in to start the exam !!</p>
        <p class="lead">All the best of luck </p>

        {% if not request.user.is_active %}

        <p class="lead">Log in with your username and password given to you</p>
        <p><strong> Start Your Exam Here:</strong></p>
        <a href="{% url 'login' %}" class="btn btn-lg btn-info mt-1"><i class="fa fa-user-plus" aria-hidden="true"></i> Log-in</a>
        <a href="{% url 'students:rule' %}" class="btn btn-lg btn-danger mt-1"><i class="fa fa-user-sign-out" aria-hidden="true"></i> Read Rules</a>

        {% else %}
        <a href="{% url 'quiz_list' %}" class="btn btn-lg btn-info mt-1">Start</a>
        <a href="" class="btn btn-lg btn-info mt-1">Your Score</a>
        {% endif %}
      </div>  
    </section>

{% endblock content %}